@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family:'Montserrat';
    font-size:  3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5;
}
p{
 color: #8f8f8f;
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 10%;
}
.head-title{
    font-family: 'Montserrat', sans-serif;
    padding-top:8%;
    padding-bottom:8%;
    font-size: 3rem;
    line-height: 1.5; 
    color: white;
    font-weight: 600;
    text-align: center;
}   
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 4rem;
}
.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}
.nav-link{
    font-weight: 700;
    font-family: 'Montserrat';
}
.download-btn{
    margin: 5% 3% 5% 0;
}
.tindog-img{
    width: 350px;
    height: 750px;
    transform: rotate(25deg);
    position:absolute;
    right: 25%;
}
@media (max-width : 1200px){
    /* #title{
        text-align: center;
    } */
    .title-heading{
        text-align: center;
    }
    .tindog-img{
        position: static;
        transform: rotate(0);
    }
}
.features-div{
    font-family: 'Montserrat';
    padding: 5%;
}
#features{
    padding: 7% 15%;
    position: relative;
}
.features-div>h3{
    font-size: 1.5rem;
    font-weight: 900 !important;
}
.features-div>p{
    color: #8f8f8f;
}
.features-div>i{
    padding: 1.5rem;
}
.features-div>i:hover{
    color: #ff4c68 !important;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
}
.pricing-item{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15%;
    
}
.tag-line{
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: bolder;
    line-height: 1.5;
}
#footer{
    padding: 5% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}